<!DOCTYPE html>
<html>
	<head><link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/app.css') }}"/></head>
	<body>
		<div class="wrapper"><p>Welcome to my awesome app!</p>
			<form id="myForm" onsubmit="return false;" method="post">
			<label for="name">Name: </label>
			<input type="text" id="textfield" name="name" placeholder="Hank">
			<input type="submit" value="Submit" onclick="submitName()">
			</form>
		</div>
		<script>
			function submitName() {
				// Get the entered name
				var name = document.getElementById("textfield").value;

				// Construct the URL with the query string
				var url = "http://10.217.4.78:8080/set?name=" + encodeURIComponent(name);
				window.alert("Sending name " + url);

				// Send the request to the locally hosted IP
				fetch(url)
					.then(
						response => response.text()
					).then(
						text => window.alert("response: " + text)
					);
				window.alert("Name sent");
			};
		</script>
	</body>
</html>
